<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HisClentSys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Data Source=PC-200910070722;Initial Catalog=hospitalSysDataZDFY;Persist Security Info=True;User ID=sa;Password='sa'"/>
    <add key="Server" value="192.168.1.20"/>
    <add key="Database" value="hospitalSysDataZDFY"/>
    <add key="uid" value="sa"/>
    <add key="pwd" value="sa"/>
    <add key="UserName" value="sysadmin"/>
    <add key="centerNo" value="3404010001"/>
    <add key="hospNo" value="200"/>
    <add key="hospName" value="淮南职大附属医院"/>
    <add key="OperatorNH" value="sysadmin"/>
    <add key="hosLevel" value="4"/>
    <add key="JB_HosNo" value="40019"/>
    <add key="ConnectionStringVFP" value="PWD=;SourceType=DBF;UID=;Collate=Machine;Deleted=Yes;BackgroundFetch=Yes;Exclusive=No;Driver=Microsoft Visual FoxPro Driver;Null=Yes;SourceDB="/>
    <add key="HistoryDataBase" value="D:\三院历史查询\出院" />
    <add key="HistoryDataBaseMenzeng" value="D:\职大附院门诊历史查询\门诊"/>


  </appSettings>

  <applicationSettings>
    <HisClentSys.Properties.Settings>
      <setting name="HisClentSys_WebReference_inpatientRedeemWebService"
        serializeAs="String">
        <value>http://10.81.9.2:6888/cmis/webservice/inpatientRedeem</value>
      </setting>
    </HisClentSys.Properties.Settings>
  </applicationSettings>
</configuration>